.DS_Store
Ausschreibung.pdf
exposé/
texts/
Full-Dataset-Naderi19.xlsx
node_modules/
~$*.xlsx
ThesisTemplate/
examples/
venv/
website/processed-texts/*
!website/processed-texts/.keep
**/build
**/couchdb/data/*
!**/couchdb/data/.keep

npm-debug.log*
yarn-debug.log*
yarn-error.log*
