.DS_Store
Ausschreibung.pdf
exposé/
texts/
Full-Dataset-Naderi19.xlsx
node_modules/
~$*.xlsx
ThesisTemplate/
examples/
venv/
processed-data/*
!processed-data/.keep

npm-debug.log*
yarn-debug.log*
yarn-error.log*
