.DS_Store
Ausschreibung.pdf
exposé/
texts/
Full-Dataset-Naderi19.xlsx
node_modules/
~$*.xlsx
ThesisTemplate/
examples/
venv/

**/build
**/couchdb/data/*
!**/couchdb/data/.keep
coverage/

npm-debug.log*
yarn-debug.log*
yarn-error.log*

*.env
*.pyc

data/results
data/texts/*
!data/texts/.keep
db-backups

thesis
note-to-self.txt
