body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f9f7f7;
  text-align: justify;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header {
  border-bottom: 1px solid #cccccc;
  background-color: white;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

footer {
  display: flex;
  justify-content: flex-end;
  padding: 1rem;
  margin-top: auto;
}

.vertical-separator {
  padding: 0 1rem 0 1rem;
}

.vertical-separator:before {
  content: '|';
}

#header-img {
  padding: 10px 1em;
  height: 5rem;
}

#participant-id {
  position: absolute;
  top: 2rem;
  right: 2rem;
}

#participant-id-label {
  padding-right: 20px;
}

@media (max-width: 360px) {
  #participant-id {
    top: 1rem;
    right: 0rem;
    padding-right: 10px;
    text-align: end;
  }

  #participant-id-label {
    padding-right: 0px;
  }

  #participant-id-label::after {
    content: '\A';
    white-space: pre;
  }
}

a,
a:hover,
.clickable {
  color: #c50e1f;
}

.clickable:hover {
  text-decoration: underline;
  cursor: pointer;
}

label.block {
  display: block;
  margin-bottom: 0px;
}

label {
  padding: 5px;
}

input:focus,
select:focus,
textarea:focus {
  outline: none;
  border: 1px solid #c50e1f;
  box-shadow: 0 0 10px #c50e1f66;
}

.tu-border {
  border: 2px solid #c50e1f;
  border-radius: 15px;
  padding: 20px;
  background-color: white;
}

.tu-glow {
  box-shadow: 0 0 10px #c50e1f66;
}

.layout {
  min-height: 80vh;
}

.centered-content {
  display: flex;
  flex-direction: column;
  align-items: center; /*horizontal alignment*/
  justify-content: space-evenly; /*vertical alignment*/
}

.center-box {
  width: 50vw;
  max-width: 1000px;
  min-height: 50vh;
  margin: 30px 0px;
}

@media (max-width: 1051px) {
  .center-box {
    width: 75vw;
  }
}

@media (max-width: 700px) {
  .center-box {
    width: 95vw;
  }
}

.background-pink {
  background-color: #fde7e9;
}

.screenreader-only {
  /* suggested by https://cloudfour.com/thinks/see-no-evil-hidden-content-and-accessibility/ */
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: polygon(0px 0px, 0px 0px, 0px 0px);
  -webkit-clip-path: polygon(0px 0px, 0px 0px, 0px 0px);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

a.btn,
button.btn {
  border: 2px solid #c50e1f;
  color: #c50e1f;
  width: max-content;
}

a.button-secondary,
button.button-secondary {
  border: 2px solid #5b4b4b;
  color: #5b4b4b;
}

.btn.btn-disabled {
  border: 2px solid #999999;
  background-color: #cccccc;
  color: #666666;
}

.flexbox {
  display: flex;
}

.btn + .btn {
  margin-left: 15px;
}

.centered-text {
  text-align: center;
}

h1,
h2,
h3 {
  text-align: center;
}

.link {
  color: #c50e1f;
  cursor: pointer;
}

.link:hover {
  text-decoration: underline;
}
