.question-box {
  background-color: #eaeaea;
  padding: 10px;
  margin: 15px 0px;
  border-radius: 5px;
  width: 100%;
}

.questionnaire-item {
  display: flex;
  align-items: center;
}

label {
  margin-bottom: 0;
}

.label-with-score {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  text-align: start;
}

.label-without-score {
  /* leave room for the actual radio button bc otherwise safari does weird stuff*/
  max-width: 90%;
}

.label-with-score > .answer-label {
  width: 15rem;
  max-width: 80%;
  margin-right: 10px;
}
