@media (max-width: 553px) {
  .start-session {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
  }

  .start-session > .btn {
    margin: auto;
  }

  .btn + .btn {
    margin-top: 10px;
  }
}

.confirmation-token {
  max-width: 100%;
  overflow-wrap: break-word;
  text-align: center;
  margin-bottom: 16px;
}

.break-timer {
  margin-top: 5px;
}

.token-copy {
  margin-left: 5px;
}
