.demographics-form {
  max-width: 50%;
}

.start-label {
  padding-top: 10px;
}

select {
  margin-bottom: 15px;
}

input[type='radio'] {
  margin-right: 5px;
}

.question-label {
  margin-top: 10px;
}

.note {
  color: #787678;
}
