.demographics-form {
  max-width: 75%;
}

@media (min-width: 1200px) {
  .demographics-form {
    max-width: 50%;
  }
}

@media (max-width: 576px) {
  .demographics-form {
    max-width: 100%;
  }
}

.start-label {
  padding-top: 10px;
}

select {
  margin-bottom: 15px;
}

input[type='radio'] {
  margin-right: 5px;
}

.question-label {
  margin-top: 10px;
}

.note {
  color: #787678;
}

.consent-form {
  background-color: #cccccc;
  margin: 0.5rem;
  padding: 0.5rem;
  width: 100%;
  border-radius: 0.25rem;
  max-height: 20rem;
  overflow-y: scroll;
}
