body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header {
  border-bottom: 1px solid #cccccc;
}

a,
a:hover {
  color: #c50e1f;
}

#root {
  height: 100vh;
}

#header-img {
  padding: 10px 1em;
  height: 75px;
}

.tu-border {
  border: 2px solid #c50e1f;
  border-radius: 15px;
  padding: 20px;
}

.layout {
  min-height: 80vh;
  display: flex;
  align-items: center; /*vertical alignment*/
  justify-content: center; /*horizontal alignment*/
}

.center-box {
  width: 50vw;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center; /*horizontal alignment*/
  justify-content: center; /*vertical alignment*/
}

.background-pink {
  background-color: #e7eef2;
}
