.hidden {
  background-color: #9fb6c4;
  border-radius: 4px;
}
.hidden > .hidden-content {
  visibility: hidden;
}

.item-text {
  margin: 10px;
  border-radius: 5px;
  background-color: #eaeaea;
}

.item-text > span {
  margin: 20px;
}

.hidden-wrapper {
  margin: 5px;
}
